$fontRaleway: 'Raleway'; 
$fontRoboto: 'roboto'; 

$primarycolor: #FFF;
$secondarycolor: #F5F4FA;

$hovercolor: #2196F3;
$textcolor: #212121;
$iconcolor: #AFB1B8;

$textprimary: #757575;
$piecedark: #000;




