.cards {
  padding-top: 60px;
  padding-bottom: 60px;

  @extend %container;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;

    max-width: 1200px;
  }
}

.list-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    align-items: flex-start;

    gap: 30px;
  }

  &__item {
    max-width: 450px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      margin: 0;
      max-width: 354px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 270px;
    }
  }

  &__item::before {
    content: "";
    display: block;

    margin-bottom: 30px;
    height: 120px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    background-color: #f5f4fa;
    border-radius: 4px;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &--antenna::before {
    background-image: url(../../images/icon/svg/antenna.svg);
    @extend %background-images;
    background-size: 65.32px 70px;
  }
  &--clock::before {
    background-image: url(../../images/icon/svg/clock.svg);
    @extend %background-images;
    background-size: 66.96px 70px;
  }
  &--diagram::before {
    background-image: url(../../images/icon/svg/diagram.svg);
    @extend %background-images;
    background-size: 53.69px 70px;
  }
  &--astronaut::before {
    background-image: url(../../images/icon/svg/astronaut.svg);
    @extend %background-images;
    background-size: 70px 70px;
  }

  &__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    font-family: $font-roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: $letter-spacing;

    color: #212121;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 0;

    font-family: $font-roboto;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;

    color: #757575;
  }
}

$icon: "antenna", "clock", "diagram", "astronaut";

@each $iconName in $icon {
  .list-skills__item-#{$iconName} {
    background-image: url(../images/icon/svg/#{$iconName}.svg);
  }
}
