.group-cards {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.list-compani {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  gap: 30px;

  list-style: none;
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }

  &__logo {
    @media screen and (max-width: 479px) {
      width: calc((100% - 30px) / 1);  
    }
    @media screen and (min-width: 480px) {
      width: calc((100% - 30px) / 2);  
    }
    @media screen and (min-width: 768px) {
      width: calc((100% - 60px) / 3);  
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);  
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;

    border-radius: 4px;
    border: 1px solid $iconcolor;
    fill: $iconcolor;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover ,
  &__link:focus {
    fill: $hovercolor;
    border-color: $hovercolor;
  }
}
