.menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;

  padding: 48px 40px;
  background: $color-backround;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-width: 768px;

  z-index: 40;
  transform: translateX(100%);
  transition: 250ms;
  overflow-y: scroll;

  &.is-open {
    transform: translateX(0);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }

 
}
.menu-open {
  padding: 0;
  border: 0;
  background-color: $color-backround;
  cursor: pointer;
  margin-left: auto;
  @media screen and (min-width:768px) {
    display: none;
  }
}
.menu-toggle {
  position: absolute;
  padding: 0;
  border: 0;
  top: 21px;
  right: 25px;
  background-color: $color-backround;
  cursor: pointer;
 &__icon-close:hover {
  fill: $color-hover;
 }

}

.mobile-menu {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  list-style: none;
  gap: 32px;
  &__link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 32px;
    line-height: 1.175;
    letter-spacing: 0.02em;

    text-decoration: none;

    color: #212121;
  }
  &__link:hover ,
  &__link:focus {
    color: $color-hover;
  }
}
.mobile-contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
  &__tel {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: #2196F3;
  }
  &__mail {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    margin: 0 0 64px 0;
    color: #757575;
  }
}
.social {
  list-style: none;
  display: flex;
  align-items: flex-start;
  &__name {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;

    letter-spacing: 0.02em;

    color: #2196F3;
  }
}