body {
  margin-left: auto;
  margin-right: auto;
  color: $primarycolor;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;

  padding-top: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 80px;
  }
}

body.modal-open  {
  overflow: hidden;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.page-header {
  position: fixed;
  top: 0;
  left: 0;

  height: 60px;
  width: 100%;

  z-index: 1;

  background-color: $primarycolor;
  border: 1px solid #ECECEC;

  @media screen and (min-width: 768px) {
    height: 80px;
  }
}

.container {
  @extend %container;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
