.cards-addition {
  @media screen and (max-width: 1199px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
  }

  &__subtitle {
    text-align: center;
    margin-bottom: 50px;

    font-family: $fontRoboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    letter-spacing: 0.03em;

    color: $textcolor;
    
    @media screen and (max-width: 1199px) {
      font-size: 28px;
      margin-bottom: 30px;
    }
  }
}

.list-product {
  gap: 30px;

  @media screen and (min-width: 1200px) {
    display: flex;
    list-style: none;
  }

  &__item {
    position: relative;
    justify-content: center;
    max-width: 370px;
    height: 294px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  &__item::before {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 70px;
 
    background: rgba(47, 48, 58, 0.8);
  }
  
  &__text {
    position: absolute;
    width: 100%;
    bottom: 27px;

    text-align: center;

    font-family: $fontRoboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    color: $primarycolor;
  }
}
